.gradle/
/.gopath
build/
.idea/
.DS_Store
.vscode/
Thumbs.db
*.iml
ci-release/
bin
local.properties
*.o
*.o.d
*.so
gdb.setup
gdbserver
obj/
latex/
dependencies.txt
private/
out/
*.exe
*.db
/pkg
/bin
src/gaefire/*.txt
src/jwt.txt
/swagger.json
test.sh
/.xpipeline/
/openapi.yaml
/.gocache
go.sum
